/* BLEACH THEMES CONFIGURATION */

@import url("theme.css");
/* ROBOTO FONT */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
body {
	font-family: Lato, Helvetica, Arial, sans-serif;
	background: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat;
}

.btn:focus,
.btn:active,
.btn:active:focus {
	outline: 0;
}

hr {
	border-color: rgba(0, 0, 0, .1);
}

mark {
	color: #000;
}

a:hover,
a:active,
a:focus,
a:active:focus {
	color: #18ba9a;
}

[data-toggle="collapse"] {
	cursor: pointer;
}

/* ADDONS */
.fa-addon {
	margin-right: 10px;
}

.row {
	margin-right: -7.5px;
	margin-left: -7.5px;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

/* LAYOUTS */
.left-panel {
	position: fixed;
	z-index: 100;
	height: 100%;
	width: 200px;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	background: #fff;
	-webkit-transition: width 0.4s ease;
	-moz-transition: width 0.4s ease;
	-ms-transition: width 0.4s ease;
	-o-transition: width 0.4s ease;
	transition: width 0.4s ease;
}

.left-panel.collapse {
	width: 40px;
	display: block;
}

.left-panel .header-bar {
	text-align: right;
}

.left-panel #signedas {
	padding: 20px;
	height: 115px;
	overflow: hidden;
}

.left-panel.collapse #signedas {
	padding: 0;
	height: 40px;
}

.left-panel #signedas > span {
	font-size: 12px;
	white-space: nowrap;
}

.left-panel #signedas h4 {
	margin: 5px 0;
	white-space: nowrap;
}

.left-panel.collapse #signedas > span {
	display: none;
}

.left-panel.collapse #signedas h4 {
	display: none;
}

.left-panel #signedas .btn {
	margin-left: -25px;
	margin-bottom: -6px;
}

.left-panel #signedas .btn:focus,
.left-panel #signedas .btn:active {
	color: #fff;
}

.left-panel.collapse #signedas .btn {
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 12px 0;
}

.left-panel.collapse #signedas .btn i {
	width: 40px;
	font-size: 18px;
}

.left-panel.collapse #signedas .btn span {
	display: none;
}

.left-panel .menu-bar {
	overflow-y: auto;
	height: calc(100% - 155px);
}

.left-panel.collapse .menu-bar {
	height: calc(100% - 80px);
}

.left-panel .menu-bar a {
	overflow: hidden;
	white-space: nowrap;
	text-decoration: none;
	padding: 14px 8px;
	display: block;
	color: #888;
	font-weight: 700;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.left-panel .menu-bar a:hover {
	background: rgba(0, 0, 0, 0.02);
	color: #444;
}

.left-panel .menu-bar a.active,
.left-panel .menu-bar .menu-group.active > a {
	background: rgba(0, 0, 0, 0.05);
}

.left-panel.collapse .menu-bar a {
	padding: 14px 0;
	-webkit-transition: padding 0.4s ease;
	-moz-transition: padding 0.4s ease;
	-ms-transition: padding 0.4s ease;
	-o-transition: padding 0.4s ease;
	transition: padding 0.4s ease;
}

.left-panel .menu-bar a > i {
	font-size: 18px;
	width: 40px;
}

.left-panel .menu-bar a span i {
	display: inline-block;
	margin-top: 4px;
	font-size: 12px;
}

.left-panel .menu-bar a span {
	display: inline-block;
	margin-left: 10px;
	min-width: 130px;
}

.left-panel .menu-group .menu-list {
	background: rgba(0, 0, 0, 0.05);
}

.left-panel.collapse .menu-group .menu-list {
	position: absolute;
	left: 40px;
	margin-top: -48px;
	-webkit-box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
}

.left-panel.collapse .menu-group {
	cursor: pointer;
}

.left-panel.collapse .menu-group > a {
	pointer-events: none;
}

.left-panel.collapse .menu-group:hover a {
	background: rgba(0, 0, 0, 0.05);
}

.left-panel.collapse .menu-group .menu-list {
	display: none;
	background: #fff;
	height: auto !important;
}

.left-panel.collapse .menu-group:hover .menu-list {
	display: block;
}

.left-panel .menu-group .menu-list a {
	padding-left: 57px;
}

.left-panel.collapse .menu-group .menu-list a {
	padding-left: 14px;
	padding-right: 14px;
}

.left-panel .header-bar .btn {
	margin: -10px -10px 0;
	padding: 0;
}

.right-panel {
	margin-left: 200px;
	-webkit-transition: margin-left 0.4s ease;
	-moz-transition: margin-left 0.4s ease;
	-ms-transition: margin-left 0.4s ease;
	-o-transition: margin-left 0.4s ease;
	transition: margin-left 0.4s ease;
}

.left-panel.collapse + .right-panel {
	margin-left: 40px;
}

.right-panel .header-bar {
	padding-left: 15px;
}

.right-panel .content {
	padding: 20px;
}

.right-panel .header-bar .btn-dark {
	color: #888;
}

/* COMPONENTS */
/* BUTTONS */
.btn {
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 3px;
	font-size: 14px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.btn-link {
	color: rgba(0, 0, 0, 0.5);
}

.btn-link:hover,
.btn-link:focus {
	color: rgba(0, 0, 0, 0.8);
}

.btn.btn-lg,
.btn-group-lg > .btn {
	padding-left: 35px;
	padding-right: 35px;
	font-size: 18px;
}

.btn.btn-sm,
.btn-group-sm > .btn {
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
}

.btn.btn-xs,
.btn-group-xs > .btn {
	padding: 1px 5px;
	font-size: 12px;
}

.btn-group-vertical > .btn {
	text-align: left;
}

/* HEADER BARS */
.header-bar {
	height: 40px;
	width: 100%;
	padding: 10px;
	background: rgba(0, 0, 0, 0.05);
}

.header-bar .btn {
	margin: -10px 0 0;
	height: 40px;
	padding: 0;
	border-width: 0;
	border-radius: 0;
	border-left: 1px solid #ddd;
}

.header-bar .btn:last-child {
	border-right: 1px solid #ddd;
}

.header-bar .btn i {
	font-size: 18px;
	width: 40px;
}

.left-panel.collapse .header-bar .btn {
	width: 40px;
}

.left-panel .header-bar .btn {
	border-width: 0;
}

.header-bar img {
	height: 14px;
}

.header-bar .brand-logo {
  font-family: Montserrat;
  display: inline-block;
  margin: 0;
  font-size: 19px;
}

/* BREADCRUMB */
.breadcrumb {
	display: inline-block;
	margin: -10px 0;
	padding: 10px 22.5px;
	height: 40px;
	background: transparent;
}

.breadcrumb li,
.breadcrumb li a {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
}

.breadcrumb li a {
	color: #333;
}

/* PANEL */
.panel {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #e8e8e8;
}

.panel .panel-heading,
.panel .panel-footer {
	background: #fafafa;
	border-color: #e8e8e8;
}

.panel.panel-grid .panel-heading[data-toggle="collapse"]:hover {
	background: rgba(0, 0, 0, .05);
}

.panel-primary > .panel-heading {
	color: #ffffff;
	background-color: #2196F3;
	border-color: #2196F3;
}

.panel-success > .panel-heading {
	color: #ffffff;
	background-color: #1abc9c;
	border-color: #1abc9c;
}

.panel-danger > .panel-heading {
	color: #ffffff;
	background-color: #F44336;
	border-color: #F44336;
}

.panel-warning > .panel-heading {
	color: #ffffff;
	background-color: #FF9800;
	border-color: #FF9800;
}

.panel-info > .panel-heading {
	color: #ffffff;
	background-color: #607D8B;
	border-color: #607D8B;
}

.panel.panel-transparent,
.panel.panel-transparent > .panel-heading,
.panel.panel-transparent .panel-footer {
	background: transparent;
	border-color: transparent;
}

.panel.panel-grid {
	background: #fff;
	border-color: #e8e8e8;
	border-radius: 3px;
}

.panel.panel-grid > .panel-heading,
.panel.panel-grid .panel-footer {
	background: transparent;
	border-color: transparent;
	padding: 15px;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.panel.panel-transparent > .panel-heading,
.panel.panel-grid > .panel-heading {
	font-size: 14px;
	text-transform: uppercase;
	font-family: Montserrat;
}

.panel.panel-grid.tinted {
	color: #fff;
}

.panel.panel-grid.tinted > .panel-heading {
	color: rgba(0, 0, 0, .4);
}

.panel.panel-grid.tinted > .panel-heading.separator {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

/* MODAL */
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, 50%);
	-ms-transform: translate(0, 50%);
	-o-transform: translate(0, 50%);
	transform: translate(0, 50%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal-sticky.fade .modal-dialog {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal-side.fade .modal-dialog {
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	-o-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}

.modal-sticky .modal-dialog {
	margin-top: 0px;
}

.modal-sticky .panel {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.modal-side {
	padding: 0px !important;
}

.modal-side .modal-dialog {
	width: 30%;
	height: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-left: 70%;
	margin-bottom: 0;
}

.modal-side .modal-dialog.modal-side-lg {
	width: 50%;
	margin-left: 50%;
}

.modal-side .modal-dialog.modal-side-xl {
	width: 90%;
	margin-left: 10%;
}

@media (max-width: 767px) {
	.modal-side .modal-dialog {
		width: 50%;
		margin-left: 50%;
	}
	.modal-side .modal-dialog.modal-side-lg {
		width: 90%;
		margin-left: 10%;
	}
	.modal-side .modal-dialog.modal-side-xl {
		width: 100%;
		margin-left: 0;
	}
}

.modal-side .panel {
	height: 100%;
	margin-bottom: 0px;
	border-radius: 0;
}

.modal-side .panel .panel-body {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* TAB */
.tab-default {
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background: #fff;
}

.tab-default .nav-tabs {
	border-bottom: 1px solid #eee;
	background: transparent;
}

.tab-default .nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}

.tab-default .nav-tabs > li > a {
	text-transform: uppercase;
	color: #777;
	line-height: 1.42857143;
	border-width: 0;
	border-bottom: 3px solid transparent;
	padding: 15px 20px;
}

.tab-default .nav-tabs > li > a:hover {
	background: transparent;
	border-bottom: 3px solid rgba(0, 0, 0, .1);
}

.tab-default .nav-tabs > li.active > a,
.tab-default .nav-tabs > li.active > a:hover,
.tab-default .nav-tabs > li.active > a:focus {
	color: #2196F3;
	background-color: transparent;
	border-width: 0;
	border-bottom: 3px solid #2196F3;
	cursor: default;
}

.tab-default .tab-content,
.tab-default .tab-tinted {
	background: transparent;
	padding: 15px;
}

.tab-tinted {
	border-radius: 3px;
	border: 0px solid;
}

.tab-tinted .nav-tabs {
	border-bottom: 1px solid transparent;
	background: rgba(0, 0, 0, 0.08);
}

.tab-tinted .nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}

.tab-tinted .nav-tabs > li > a {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.7);
	line-height: 1.42857143;
	border-width: 0;
	border-bottom: 3px solid transparent;
	padding: 15px 20px;
}

.tab-tinted .nav-tabs > li > a:hover {
	background: transparent;
	border-bottom: 3px solid rgba(255, 255, 255, .3);
}

.tab-tinted .nav-tabs > li.active > a,
.tab-tinted .nav-tabs > li.active > a:hover,
.tab-tinted .nav-tabs > li.active > a:focus {
	color: #fff;
	background-color: transparent;
	border-width: 0;
	border-bottom: 3px solid #fff;
	cursor: default;
}

.tab-tinted .tab-content {
	background: transparent;
	padding: 15px;
	color: #fff !important;
}
/* PROGRESS */

.spinner {
	-webkit-animation: rotator 1.4s linear infinite;
	-moz-animation: rotator 1.4s linear infinite;
	-o-animation: rotator 1.4s linear infinite;
	animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-moz-keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-o-keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@keyframes rotator {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(270deg);
	}
}

@-webkit-keyframes colors {
	0% {
		stroke: #4285F4;
	}
	25% {
		stroke: #DE3E35;
	}
	50% {
		stroke: #F7C223;
	}
	75% {
		stroke: #1B9A59;
	}
	100% {
		stroke: #4285F4;
	}
}

@-moz-keyframes colors {
	0% {
		stroke: #4285F4;
	}
	25% {
		stroke: #DE3E35;
	}
	50% {
		stroke: #F7C223;
	}
	75% {
		stroke: #1B9A59;
	}
	100% {
		stroke: #4285F4;
	}
}

@-o-keyframes colors {
	0% {
		stroke: #4285F4;
	}
	25% {
		stroke: #DE3E35;
	}
	50% {
		stroke: #F7C223;
	}
	75% {
		stroke: #1B9A59;
	}
	100% {
		stroke: #4285F4;
	}
}

@keyframes colors {
	0% {
		stroke: #4285F4;
	}
	25% {
		stroke: #DE3E35;
	}
	50% {
		stroke: #F7C223;
	}
	75% {
		stroke: #1B9A59;
	}
	100% {
		stroke: #4285F4;
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}

@-moz-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}

@-o-keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}

@keyframes dash {
	0% {
		stroke-dashoffset: 187;
	}
	50% {
		stroke-dashoffset: 46.75;
		transform: rotate(135deg);
	}
	100% {
		stroke-dashoffset: 187;
		transform: rotate(450deg);
	}
}

.spinner .path-material {
	stroke-dasharray: 187;
	stroke-dashoffset: 0;
	transform-origin: center;
	-webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	-moz-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	-o-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
	animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

.progress {
	height: 5px;
	margin-bottom: 15px;
	background-color: #e8e8e8;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* FORM */

.control-label {
  margin-top: 6px; 
}
.form-group-default .form-control:focus {
	background-color: transparent !important;
	border-color: transparent;
	z-index: 5;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group-default .form-control {
	border: 0px solid;
	background-color: transparent !important;
	padding-left: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group-default label {
	margin-bottom: 0px;
}

.form-group-default {
	background-color: #fff;
	position: relative;
	border: 1px solid #dedede;
	border-radius: 3px;
	padding-top: 7px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 4px;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.form-group.required,
.form-group.form-group-alt.required {
	background-color: transparent;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.form-group-default:focus {
	background: #333;
}

.form-group-default.required:after {
	color: #f55753;
	content: "*";
	font-family: arial;
	font-size: 20px;
	position: absolute;
	right: 10px !important;
	top: 5px !important;
}

.form-group.required:after,
.form-group-alt.required:after {
	color: #f55753;
	content: "*";
	font-family: arial;
	font-size: 20px;
	position: absolute;
	right: 5px;
	top: 0px;
}

.form-group-default.has-success {
	border-color: #1abc9c;
}

.form-group-default.has-warning {
	border-color: #FF9800;
}

.form-group-default.has-error {
	border-color: #F44336;
}

.form-group-alt .form-control {
	border-radius: 0;
	border: 0px solid;
	border-bottom: 1px solid #dedede;
	padding-left: 0px;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group-alt .form-control:focus {
	border-bottom-color: #2196F3;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.form-group-alt label {
	font-weight: 400;
	margin-bottom: 0px;
	font-size: 12px;
	color: #555;
}

.form-group-alt.has-success input.form-control,
.form-group-alt.has-success input.form-control:focus {
	border-color: #1abc9c;
}

.form-group-alt.has-warning input.form-control,
.form-group-alt.has-warning input.form-control:focus {
	border-color: #FF9800;
}

.form-group-alt.has-error input.form-control,
.form-group-alt.has-error input.form-control:focus {
	border-color: #F44336;
}

.panel-grid.tinted .form-group-default {
	border: 1px solid #fff;
	background-color: transparent;
}

.panel-grid.tinted .form-group .form-control:focus {
	border-color: #fff;
}

.panel-grid.tinted .form-control {
	color: #fff;
}

.panel-grid.tinted .form-control input,
.panel-grid.tinted .form-control {
	background: transparent;
}

.panel-grid.tinted .form-group-alt label {
	color: #fff;
}

.panel-grid.tinted .form-control::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5);
	opacity: 1;
}

.panel-grid.tinted .form-control:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}

.panel-grid.tinted .form-control::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5);
}
.form-horizontal .radio, 
.form-horizontal .checkbox, 
.form-horizontal .radio-inline, 
.form-horizontal .checkbox-inline {
  padding-top: 10px;
}
.radio label,
.radio-inline label,
.checkbox label,
.checkbox-inline label {
  padding-left: 5px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="radio"],
.checkbox-inline input[type="radio"],
.radio input[type="checkbox"],
.radio-inline input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -20px;
}
input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: relative;
  margin-top: 3px;
  margin-right: 4px;
  vertical-align: -4px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus {
  outline: none;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before,
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -3px;
  border-radius: 50%;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="radio"]:before,
.radio input[type="radio"]:before,
.radio-inline input[type="radio"]:before {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2196F3;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
input[type="radio"]:after,
.radio input[type="radio"]:after,
.radio-inline input[type="radio"]:after {
  border: 2px solid #727272;
}
input[type="radio"]:checked:before,
.radio input[type="radio"]:checked:before,
.radio-inline input[type="radio"]:checked:before {
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
}
input[type="radio"]:disabled:checked:before,
.radio input[type="radio"]:disabled:checked:before,
.radio-inline input[type="radio"]:disabled:checked:before {
  background-color: #bbbbbb;
}
input[type="radio"]:checked:after,
.radio input[type="radio"]:checked:after,
.radio-inline input[type="radio"]:checked:after {
  border-color: #2196F3;
}
input[type="radio"]:disabled:after,
.radio input[type="radio"]:disabled:after,
.radio-inline input[type="radio"]:disabled:after,
input[type="radio"]:disabled:checked:after,
.radio input[type="radio"]:disabled:checked:after,
.radio-inline input[type="radio"]:disabled:checked:after {
  border-color: #bbbbbb;
}
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  vertical-align: -4px;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  outline: none;
}
input[type="checkbox"]:after,
.checkbox input[type="checkbox"]:after,
.checkbox-inline input[type="checkbox"]:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -2px;
  margin-right: 5px;
  border: 2px solid #727272;
  border-radius: 2px;
  -webkit-transition: 240ms;
  -o-transition: 240ms;
  transition: 240ms;
}
input[type="checkbox"]:checked:before,
.checkbox input[type="checkbox"]:checked:before,
.checkbox-inline input[type="checkbox"]:checked:before {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid #fff;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"]:checked:after,
.checkbox input[type="checkbox"]:checked:after,
.checkbox-inline input[type="checkbox"]:checked:after {
  background-color: #2196F3;
  border-color: #2196F3;
}
input[type="checkbox"]:disabled:after,
.checkbox input[type="checkbox"]:disabled:after,
.checkbox-inline input[type="checkbox"]:disabled:after {
  border-color: #bbbbbb;
}
input[type="checkbox"]:disabled:checked:after,
.checkbox input[type="checkbox"]:disabled:checked:after,
.checkbox-inline input[type="checkbox"]:disabled:checked:after {
  background-color: #bbbbbb;
  border-color: transparent;
}

/* TABLE */
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 15px 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #eee;
    max-width: 200px;
}
.table > thead > tr > th {
    text-transform: uppercase;
    font-family: "Montserrat";
    vertical-align: bottom;
    border-bottom: 1px solid #eee;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table .table {
    background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}
.table-bordered {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) {
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
    background-color: rgba(26, 188, 156, 0.05);
}
table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

/* TILE */
.tile-progress {
  background-color: #303641;
  color: #fff;
}
.tile-progress {
  background: #00a65b;
  color: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.tile-progress .tile-icon {
  font-size: 60px;
}
.tile-progress .tile-header {
  padding: 15px 20px;
  padding-bottom: 20px;
}
.tile-progress .tile-progressbar {
  height: 2px;
  background: rgba(0, 0, 0, 0.18);
  margin: 0;
}
.tile-progress .tile-progressbar span {
  background: #fff;
}
.tile-progress .tile-progressbar span {
  display: block;
  background: #fff;
  width: 0;
  height: 100%;
  -webkit-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -moz-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  -o-transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
  transition: all 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
.tile-progress .tile-link {
  color: white;
}
.tile-progress .tile-footer {
  padding: 10px 20px 15px;
  text-align: right;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 3px 3px;
  -moz-background-clip: padding;
  border-radius: 0 0 3px 3px;
  background-clip: padding-box;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.tile-progress.tile-red {
  background-color: #f56954;
  color: #fff;
}
.tile-progress {
  background-color: #303641;
  color: #fff;
}
.tile-progress.tile-blue {
  background-color: #0073b7;
  color: #fff;
}
.tile-progress.tile-aqua {
  background-color: #00c0ef;
  color: #fff;
}
.tile-progress.tile-green {
  background-color: #00a65a;
  color: #fff;
}
.tile-progress.tile-cyan {
  background-color: #00b29e;
  color: #fff;
}
.tile-progress.tile-purple {
  background-color: #ba79cb;
  color: #fff;
}
.tile-progress.tile-pink {
  background-color: #ec3b83;
  color: #fff;
}
.tile-sm-dark {
  position: relative;
  height: 130px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
.tile-sm-dark h5 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-top: 0px;
}
.tile-sm-dark h4 {
  font-family: "Lato";
  color: #fff;
  font-size: 28px;
  margin-top: 0px;
}
.tile-sm-dark h4 small {
  color: #fff;
  font-size: 14px;
}
.tile-sm-dark .qv-icon {
  padding: 10px;
  padding-top: 15px;
  float: right;
  font-size: 40px;
  color: #fff;
}
.tile-sm-dark .progress {
  margin: 0px -15px;
  margin-bottom: 10px;
  height: 2px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.tile-sm-dark .progress-bar {
  background: #fff;
}
.tile-sm-dark p i {
  font-size: 14px;
}
.tile-sm-dark a {
  color: #fff;
  height: 25px;
  vertical-align: middle;
  text-align: center;
  padding: 2px 0px;
  font-size: 16px;
}
.tile-sm-dark p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 0px;
}
.tile-sm-light {
  position: relative;
  height: 130px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}
.tile-sm-light h5 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  margin-top: 0px;
}
.tile-sm-light h4 {
  font-family: "Lato";
  color: #333;
  font-size: 28px;
  margin-top: 0px;
}
.tile-sm-light h4 small {
  color: #333;
  font-size: 14px;
}
.tile-sm-light .qv-icon {
  padding: 10px;
  padding-top: 15px;
  float: right;
  font-size: 40px;
  color: #333;
}
.tile-sm-light .progress {
  margin: 0px -15px;
  margin-bottom: 10px;
  height: 2px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.1);
}
.tile-sm-light .progress-bar {
  background: #333;
}
.tile-sm-light p i {
  font-size: 14px;
}
.tile-sm-light a {
  color: #333;
  height: 25px;
  text-align: center;
  padding: 2px 0px;
  font-size: 16px;
}
.tile-sm-light p {
  color: #333;
  font-size: 16px;
  margin-bottom: 0px;
}

/* LIST GROUP */
.list-group .list-group-item {
  padding: 14px 20px; 
  background: #fff;
  border-color: #e8e8e8;
}

.list-group button.list-group-item:hover {
  background: #f7f7f7; 
}

.list-group button.list-group-item.active {
  background: #2196F3;
  border-color: #2196F3;
}

.list-group button.list-group-item:active,
.list-group button.list-group-item:active:focus {
  background: #f0f0f0;
}

.list-group button.list-group-item:focus {
  outline: 0;
  background: #f7f7f7; 
}

/* EMAIL */
.panel-email table tbody > tr > td:last-child {
  text-align: right;
}

.panel-email table tbody > tr > td:first-child {
  max-width: 80px; 
}

.panel-email table tbody > tr > td > .label {
  margin-right: 10px; 
}

.panel-email table tbody > tr {
  cursor: pointer;
}

.panel-email .panel-heading .btn-group {
  margin-top: -5px; 
}

.panel-email .panel-footer {
  padding-top: 0;
  text-align: right;
}

.panel-email .panel-body {
  padding-bottom: 0;
  padding-top: 0;
}

.panel-email .panel-footer .pagination {
  margin: 0; 
}

/* MOBILE */
@media (max-width: 767px) {
  .left-panel,
  .left-panel.collapse {
    width: 100%;
    overflow: hidden;
    max-height: 40px; 
  }
  
  .left-panel {
    max-height: 100%;
  }
  
  .left-panel .header-bar {
    background: #fff; 
  }
  
  .left-panel .header-bar .btn {
    color: #333; 
  }
  
  .left-panel .menu-bar a span {
    width: 80%; 
  }
  
  .right-panel,
  .left-panel.collapse + .right-panel {
    padding-top: 40px;
    margin-left: 0;
  }
  
  .header-bar .brand-logo {
    position: fixed;
    top: 12px;
    left: 24px;
    z-index: 100;
  }
  
  .right-panel .header-bar {
    padding-left: 0;
    padding-right: 0;
  }
}