/* 
  COLORS 
    red #F44336
    blue #2196F3
    turquoise #1abc9c
    orange #FF9800
    blue-grey #607D8B
*/

.b-white {
  background: #FFFFFF !important;
}
.b-red {
  background: #F44336 !important;
}
.b-magenta {
  background: #E91E63 !important;
}
.b-purple {
  background: #9C27B0 !important;
}
.b-deep-purple {
  background: #673AB7 !important;
}
.b-indigo {
  background: #3F51B5 !important;
}
.b-blue {
  background: #2196F3 !important;
}
.b-cyan {
  background: #00BCD4 !important;
}
.b-teal {
  background: #009688 !important;
}
.b-turquoise {
  background: #1abc9c !important;
}
.b-green {
  background: #4CAF50 !important;
}
.b-light-green {
  background: #8BC34A !important;
}
.b-lime {
  background: #CDDC39 !important;
}
.b-yellow {
  background: #FFEB3B !important;
}
.b-amber {
  background: #FFC107 !important;
}
.b-orange {
  background: #FF9800 !important;
}
.b-deep-orange {
  background: #FF5722 !important;
}
.b-brown {
  background: #795548 !important;
}
.b-blue-grey {
  background: #607D8B !important;
}
.transparent {
  background: transparent;
}

/* DEFAULT */
.left-panel .header-bar {
  background: #2196F3;
  color: #fff;
}

.left-panel #signedas {
  background: #1f8ae0;
  color: #fff;
}

.left-panel .menu-bar a.active,
.left-panel .menu-bar a.active:hover,
.left-panel .menu-bar .menu-group.active > a,
.left-panel .menu-bar .menu-group.active > a:hover {
  color: #2196F3;
}

mark {
	background: #63ace6;
}

a {
	color: #2196F3;
}

/* TURQUOISE */
.turquoise .left-panel .header-bar {
  background: #1abc9c;
  color: #fff;
}

.turquoise .left-panel #signedas {
  background: #189f84;
  color: #fff;
}

.turquoise .left-panel .menu-bar a.active,
.turquoise .left-panel .menu-bar a.active:hover,
.turquoise .left-panel .menu-bar .menu-group.active > a,
.turquoise .left-panel .menu-bar .menu-group.active > a:hover {
  color: #1abc9c;
}

.turquoise mark {
	background: #73d4c1;
}

.turquoise a {
	color: #008d71;
}

/* TURQUOISE */
.orange .left-panel .header-bar {
  background: #FF9800;
  color: #fff;
}

.orange .left-panel #signedas {
  background: #ff8000;
  color: #fff;
}

.orange .left-panel .menu-bar a.active,
.orange .left-panel .menu-bar a.active:hover,
.orange .left-panel .menu-bar .menu-group.active > a,
.orange .left-panel .menu-bar .menu-group.active > a:hover {
  color: #FF9800;
}

.orange mark {
  background: #ffb342;
}

.orange a {
  color: #FF9800;
}

/* TYPOGRAPHY */
.text-light {
	color: #fff;
}

.text-muted {
	color: #888;
}

.text-primary {
	color: #2196F3;
}

.text-success {
	color: #1abc9c;
}

.text-warning {
	color: #FF9800;
}

.text-danger {
	color: #F44336;
}

.text-info {
	color: #607D8B;
}

/* BUTTONS */
.btn.btn-light {
	border-color: transparent;
	background: transparent;
	color: #fff;
	opacity: 1;
}

.btn.btn-light:hover {
	color: #fff;
	opacity: .9;
}

.btn.btn-light:active,
.btn.btn-light:focus {
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-dark {
	border-color: transparent;
	background: transparent;
	color: #333;
	opacity: 1;
}

.btn.btn-dark:hover {
	color: #333;
	opacity: .9;
}

.btn.btn-dark:active,
.btn.btn-dark:focus {
	color: #333;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-hollow,
.btn.btn-hollow:focus {
	background: transparent;
	border-width: 1px;
	font-weight: 500;
}

.btn.btn-hollow:hover {
	opacity: .8;
	background: transparent;
}

.btn.btn-hollow:active,
.btn.btn-hollow:active:focus {
	background: rgba(0, 0, 0, .05);
}

.btn.btn-default {
	border-color: #ddd;
	background: #fff;
	color: #333;
}

.btn.btn-default .badge {
	color: #fff;
	background-color: #333;
}

.btn.btn-default.btn-hollow,
.btn.btn-default.btn-hollow:hover,
.btn.btn-default.btn-hollow:focus,
.btn.btn-default.btn-hollow:active,
.btn.btn-default.btn-hollow:active:focus {
	color: #333;
	border-color: #333;
}

.btn.btn-default:hover,
.btn.btn-default.disabled,
.btn.btn-default[disabled],
.btn.btn-default.disabled:hover,
.btn.btn-default[disabled]:hover {
	border-color: #ccc;
	background: #fafafa;
}

.btn.btn-default:active,
.btn.btn-default:active:focus,
.btn.btn-default.active,
.btn.btn-default.active:hover,
.btn.btn-default.active:active,
.btn.btn-default.active:focus,
.btn.btn-default.active:active:focus {
	color: #333;
	border-color: #e3e3e3;
	background: #e3e3e3;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-default:focus {
	color: #333;
	border-color: #ddd;
	background: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-primary {
	border-color: #2196F3;
	background: #2196F3;
	color: #fff;
}

.btn.btn-primary.btn-hollow,
.btn.btn-primary.btn-hollow:focus,
.btn.btn-primary.btn-hollow:active,
.btn.btn-primary.btn-hollow:active:focus {
	color: #2196F3;
	border-color: #2196F3;
}

.btn.btn-primary .badge {
	color: #2196F3;
	background-color: #fff;
}

.btn.btn-primary:hover,
.btn.btn-primary.disabled,
.btn.btn-primary[disabled],
.btn.btn-primary.disabled:hover,
.btn.btn-primary[disabled]:hover {
	border-color: #4aacf8;
	background: #4aacf8;
}

.btn.btn-primary:active,
.btn.btn-primary:active:focus,
.btn.btn-primary.active,
.btn.btn-primary.active:hover,
.btn.btn-primary.active:active,
.btn.btn-primary.active:focus,
.btn.btn-primary.active:active:focus {
	color: #fff;
	border-color: #1e83d3;
	background: #1e83d3;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-primary:focus {
	color: #fff;
	border-color: #2196F3;
	background: #2196F3;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-success {
	border-color: #1ec6ac;
	background: #1ec6ac;
	color: #fff;
}

.btn.btn-success.btn-hollow,
.btn.btn-success.btn-hollow:focus,
.btn.btn-success.btn-hollow:active,
.btn.btn-success.btn-hollow:active:focus {
	color: #1ec6ac;
	border-color: #1ec6ac;
}

.btn.btn-success .badge {
	color: #1ec6ac;
	background-color: #fff;
}

.btn.btn-success:hover,
.btn.btn-success.disabled,
.btn.btn-success[disabled],
.btn.btn-success.disabled:hover,
.btn.btn-success[disabled]:hover {
	border-color: #3bc6b0;
	background: #3bc6b0;
}

.btn.btn-success:active,
.btn.btn-success:active:focus,
.btn.btn-success.active,
.btn.btn-success.active:hover,
.btn.btn-success.active:active,
.btn.btn-success.active:focus,
.btn.btn-success.active:active:focus {
	color: #fff;
	border-color: #199f8a;
	background: #199f8a;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-success:focus {
	color: #fff;
	border-color: #1ec6ac;
	background: #1ec6ac;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-danger {
	border-color: #F44336;
	background: #F44336;
	color: #fff;
}

.btn.btn-danger.btn-hollow,
.btn.btn-danger.btn-hollow:focus,
.btn.btn-danger.btn-hollow:active,
.btn.btn-danger.btn-hollow:active:focus {
	color: #F44336;
	border-color: #F44336;
}

.btn.btn-danger .badge {
	color: #F44336;
	background-color: #fff;
}

.btn.btn-danger:hover,
.btn.btn-danger.disabled,
.btn.btn-danger[disabled],
.btn.btn-danger.disabled:hover,
.btn.btn-danger[disabled]:hover {
	border-color: #f5655b;
	background: #f5655b;
}

.btn.btn-danger:active,
.btn.btn-danger:active:focus,
.btn.btn-danger.active,
.btn.btn-danger.active:hover,
.btn.btn-danger.active:active,
.btn.btn-danger.active:focus,
.btn.btn-danger.active:active:focus {
	color: #fff;
	border-color: #c6372d;
	background: #c6372d;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-danger:focus {
	color: #fff;
	border-color: #F44336;
	background: #F44336;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-warning {
	border-color: #FF9800;
	background: #FF9800;
	color: #fff;
}

.btn.btn-warning.btn-hollow,
.btn.btn-warning.btn-hollow:focus,
.btn.btn-warning.btn-hollow:active,
.btn.btn-warning.btn-hollow:active:focus {
	color: #FF9800;
	border-color: #FF9800;
}

.btn.btn-warning .badge {
	color: #FF9800;
	background-color: #fff;
}

.btn.btn-warning:hover,
.btn.btn-warning.disabled,
.btn.btn-warning[disabled],
.btn.btn-warning.disabled:hover,
.btn.btn-warning[disabled]:hover {
	border-color: #faab37;
	background: #faab37;
}

.btn.btn-warning:active,
.btn.btn-warning:active:focus,
.btn.btn-warning.active,
.btn.btn-warning.active:hover,
.btn.btn-warning.active:active,
.btn.btn-warning.active:focus,
.btn.btn-warning.active:active:focus {
	color: #fff;
	border-color: #d98201;
	background: #d98201;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-warning:focus {
	color: #fff;
	border-color: #FF9800;
	background: #FF9800;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-info {
	border-color: #607D8B;
	background: #607D8B;
	color: #fff;
}

.btn.btn-info.btn-hollow,
.btn.btn-info.btn-hollow:focus,
.btn.btn-info.btn-hollow:active,
.btn.btn-info.btn-hollow:active:focus {
	color: #607D8B;
	border-color: #607D8B;
}

.btn.btn-info .badge {
	color: #607D8B;
	background-color: #fff;
}

.btn.btn-info:hover,
.btn.btn-info.disabled,
.btn.btn-info[disabled],
.btn.btn-info.disabled:hover,
.btn.btn-info[disabled]:hover {
	border-color: #6e8089;
	background: #6e8089;
}

.btn.btn-info:active,
.btn.btn-info:active:focus,
.btn.btn-info.active,
.btn.btn-info.active:hover,
.btn.btn-info.active:active,
.btn.btn-info.active:focus,
.btn.btn-info.active:active:focus {
	color: #fff;
	border-color: #516974;
	background: #516974;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn.btn-info:focus {
	color: #fff;
	border-color: #607D8B;
	background: #607D8B;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* LABELS */
.label {
	border-radius: 50px;
	padding: .3em .8em .3em;
}

.label-default,
.badge-default {
	background-color: #333;
}

.label-primary,
.badge-primary {
	background-color: #2196F3;
}

.label-success,
.badge-success {
	background-color: #1abc9c;
}

.label-danger,
.badge-danger {
	background-color: #F44336;
}

.label-warning,
.badge-warning {
	background-color: #FF9800;
}

.label-info,
.badge-info {
	background-color: #607D8B;
}

/* ALERTS */
#ohsnap {
	position: fixed;
	z-index: 70;
	right: 0;
	top: 0;
}

.growl {
	padding: 15px;
	margin: 10px 10px 0;
	border: 1px solid #eed3d7;
	border-radius: 4px;
}

.growl-danger {
	color: white;
	background-color: #F44336;
	border-color: #F44336;
}

.growl-success {
	color: white;
	background-color: #1abc9c;
	border-color: #1abc9c;
}

.growl-primary {
	color: white;
	background-color: #2196F3;
	border-color: #2196F3;
}

.growl-warning {
	color: white;
	background-color: #FF9800;
	border-color: #FF9800;
}

.growl-info {
	color: white;
	background-color: #607D8B;
	border-color: #607D8B;
}

.alert-success {
	background-color: #97f0df;
	border-color: #97f0df;
	color: rgba(0, 0, 0, 0.5);
}

.alert-info {
	background-color: #92b3c3;
	border-color: #92b3c3;
	color: rgba(0, 0, 0, 0.5);
}

.alert-warning {
	background-color: #ffc36b;
	border-color: #ffc36b;
	color: rgba(0, 0, 0, 0.5);
}

.alert-danger {
	background-color: #ff8076;
	border-color: #ff8076;
	color: rgba(0, 0, 0, 0.5);
}

/* PROGRESS */
.spinner .path-danger {
    stroke: #F44336;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    -moz-animation: dash 1.4s ease-in-out infinite;
    -o-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}
.spinner .path-success {
    stroke: #1abc9c;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    -moz-animation: dash 1.4s ease-in-out infinite;
    -o-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}
.spinner .path-primary {
    stroke: #2196F3;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    -moz-animation: dash 1.4s ease-in-out infinite;
    -o-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}
.spinner .path-gray {
    stroke: #777;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    -moz-animation: dash 1.4s ease-in-out infinite;
    -o-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}
.progress-bar-primary {
  background-color: #2196F3;
}
.progress-bar-success {
  background-color: #1abc9c;
}
.progress-bar-danger {
  background-color: #F44336;
}
.progress-bar-warning {
  background-color: #FF9800;
}
.progress-bar-info {
  background-color: #607D8B;
}